In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
#print
print("AI Ki Paathshala")

AI Ki Paathshala

In [3]:
print('AI Ki Paathshala')

AI Ki Paathshala

In [4]:
print(AI Ki Paathshala)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3389139383.py, line 1)

In [5]:
print'AI Ki Paathshala'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (353732551.py, line 1)

In [6]:
# () == Parenthesis

In [7]:
print('AI Ki Paathshala'

SyntaxError: incomplete input (755950890.py, line 1)

In [8]:
print("Greeting from AI KI Paathshala")

Greeting from AI KI Paathshala

In [9]:
print('Good morning')

Good morning

In [10]:
print('work hard and keep yourself busy at least 15 hours a day')

work hard and keep yourself busy at least 15 hours a day

In [11]:
print('All our dreams can come true, if we have the courage to pursue them. - walt Disney')

All our dreams can come true, if we have the courage to pursue them. - walt Disney

In [12]:
# comments in python #

In [13]:
#print("Greeting from AI KI Paathshala")
#print('Good morning')
#print('work hard and keep yourself busy at least 15 hours a day')
#print('All our dreams can come true, if we have the courage to pursue them. - walt Disney')
print("As this line is not commented, the print statement will execute this and print this statement")

As this line is not commented, the print statement will execute this and print this statement

In [14]:
# Multi-line commenting
"""print("Greeting from AI KI Paathshala")
print('Good morning')
print('work hard and keep yourself busy at least 15 hours a day')
print('All our dreams can come true, if we have the courage to pursue them. - walt Disney')"""
print("As this line is not commented, the print statement will execute this and print this statement")

As this line is not commented, the print statement will execute this and print this statement

In [15]:
'''print("Greeting from AI KI Paathshala")
print('Good morning')
print('work hard and keep yourself busy at least 15 hours a day')
print('All our dreams can come true, if we have the courage to pursue them. - walt Disney')'''
print("As this line is not commented, the print statement will execute this and print this statement")

As this line is not commented, the print statement will execute this and print this statement

In [16]:
print('This article belong's to Mary')

SyntaxError: unterminated string literal (detected at line 1) (1916910263.py, line 1)

In [17]:
print("This article belong's to Mary")

This article belong's to Mary

In [18]:
# Keywords in python

#keywords are reserved words in python

import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [19]:
print('keyword.kwlist')

keyword.kwlist

In [20]:
#Variable

name = 'anup'
print(name)
number = 145.67
print(number)
course = 'AI'
print(course)

anup
145.67
AI

In [21]:
a = 5
b = 10

In [22]:
print(id(a))
print(id(b))

4342965280
4342965440

In [23]:
num = 10

In [24]:
print(id(10))

4342965440

In [25]:
id(b) == id(num)

True

In [26]:
id(a) == id(b)

False

In [27]:
# Multiple Assignment

a , b , c = 10, 9.8, 'DL'

In [28]:
a

10

In [29]:
b

9.8

In [30]:
c

'DL'

In [31]:
print(a)

10

In [32]:
print(b)

9.8

In [33]:
print(c)

DL

In [34]:
a = b = c = "AI Ki Paathshala"

In [35]:
a

'AI Ki Paathshala'

In [36]:
b

'AI Ki Paathshala'

In [37]:
c

'AI Ki Paathshala'

In [38]:
print(id(a))
print(id(b))
print(id(c))

4595971168
4595971168
4595971168

In [39]:
id(a) == id(b) == id(c)

True

In [40]:
x = 5
y = 10
print(x, y)

5 10

In [41]:
# Rules for defining varaible

In [42]:
# varaible name cannot start with number

1name = "anup"

SyntaxError: invalid decimal literal (3837403398.py, line 3)

In [43]:
564number = 786

SyntaxError: invalid decimal literal (2439929725.py, line 1)

In [44]:
name234 = 'anup'

In [45]:
print(name234)

anup

In [46]:
# variables are case sensitive(lower case and upper case)

name = 'Anup'

Name = "AI ki Paathshala"

In [47]:
print(name)

Anup

In [48]:
print(Name)

AI ki Paathshala

In [49]:
id(name) == id(Name)

False

In [50]:
# Don't use python in-bulit function/date-type as your variable

In [51]:
print = 100
print(print)

TypeError: 'int' object is not callable

In [52]:
int = 16
print(int)

TypeError: 'int' object is not callable

In [53]:
number_1 = 16

In [54]:
number_1

16

In [55]:
# varaible name can only contain alpha-numeric characters and underscores(A-Z, 0-9, a-z, _)

In [56]:
A B C D .....Z
a b c d .....z
0 1 2 3......9
_

SyntaxError: invalid syntax (741106097.py, line 1)

In [57]:
name@ = 'anup'

SyntaxError: invalid syntax (3688610976.py, line 1)

In [58]:
name& = 'John'

SyntaxError: invalid syntax (1371804026.py, line 1)

In [59]:
fruit?? = 'cherry'

SyntaxError: invalid syntax (2476894033.py, line 1)

In [60]:
name_a = 'Mary'

In [61]:
print(name_a)

TypeError: 'int' object is not callable

In [62]:
# %^*()<>?///{\\]][!!!!]} special characters in python
# you are not supposed to use special characters as your variable name